

{% extends "base.html" %}
{% block content %}
{% load static %}   

<div class="intro intro-single route bg-image">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="intro-title mb-4">ROCK ONN !</h2>
      </div>
    </div>
  </div>
</div>



<section id="blog" class="blog-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            POST'S
          </h3>
          <p class="subtitle-a">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
   
    <div class="row">
      {% for post in posts %}
      <div class="col-md-4">
        <div class="card card-blog">
          <div class="card-img">
            <a href="{% url 'post-detail' post.id %}"><img src={{post.photo.url}} alt="" class="img-fluid"></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">Travel</h6>
              </div>
            </div>
            <h3 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
            <p class="card-description">
              {{ post.content }}
            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="{% url 'user-posts' post.author.username %}">
                <img src="{{ post.author.profile.image.url }}" alt="" class="avatar rounded-circle">
                <span class="author" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</span>
              </a>
            </div>
            <div class="post-date">
              <span class="ion-ios-clock-outline"></span> {{ post.date_posted|date:"F d, Y" }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
 
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="contact-mf">
<div class="col-md-6">
  <div class="title-box-2 pt-4 pt-md-0">

{% if is_paginated %}

{% if page_obj.has_previous %}
  <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}