{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="contact" id="contact">

  <h1 class="heading"> <span>Login </span> Here </h1>

  <div class="row">

      

      <form method="POST">
        {% csrf_token %}
        <h2 class="heading">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        </h2>
          <h3>Credentials</h3>
          <div class="inputBox">
              <span class="fas fa-user"> Username </span>
              {{ form.username }}
          </div>
          <div class="inputBox">
              <span class="fas fa-lock"> Password </span>
              {{ form.password }}
          </div>
          
          <input type="submit" value=" Login " class="btn">
          <h3 class="text-muted">
            forget password ? <a class="ml-2" href="{% url 'password_reset'%}">Click Here?</a>
          </a>
        </h3>
      </form>
  </div>

</section>

{% endblock content %}