{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="contact" id="contact">

  <div class="row">

      <form method="POST">
        {% csrf_token %}
          <h3>Reset Password</h3>
          <div class="inputBox">
            <span class="fas fa-lock"></span>
            {{ form.new_password1 }}
        </div>
          <div class="inputBox">
              <span class="fas fa-lock"></span>
              {{ form.new_password2 }}
          </div>
          
          <input type="submit" value=" Reset Password " class="btn">
         
      </form>
  </div>

</section>

{% endblock content %}