
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 
<section class="contact" id="contact">

  <h1 class="heading"> <span>contact</span> us </h1>

  <div class="row">

      

      <form method="POST">
        {% csrf_token %}
          <h3>Request</h3>
          <div class="inputBox">
              <span class="fas fa-user"></span>
              {{ form.email }}
          </div>
          
          
          <input type="submit" value=" Request Password Reset " class="btn">
          
      </form>
  </div>

</section>
{% endblock content %}



























