
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <section class="paralax-mf footer-paralax bg-image sect-mt4 route">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                    Reset Password
                    </h5>
                  </div>
                  <div>
                      <form method="POST">
                        {% csrf_token %}
                     
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            {{ form|crispy }}
                    
                          </div>
                        </div>
                       
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded"> Request Password Reset</button>
                        </div>
                        
                      </div>
                    </form>

            
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}



























