{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<section class="contact" id="contact">



  <div class="row">

      

      <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
          <h3> Post </h3>
          <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
          <div class="inputBox">
              <span>Title </span>
              {{ form.title }}
          </div>
          <div class="inputBox">
              <span>Content</span>
              {{ form.content }}
          </div>
          <div class="inputBox">
            <span>Photo</span>
            {{ form.photo }}
        </div>
          
          <input type="submit" value=" Post " class="btn">
          
      </form>
  </div>

</section>
      
{% endblock content %}
      































