{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="intro intro-single route bg-image">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="intro-title mb-4">{{user.username}}'s Poster</h2>
      </div>
    </div>
  </div>
</div>



<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">

                <div class="col-md-6">
                    <div class="about-me pt-4 pt-md-0">
                      <div class="title-box-2">
                        <h5 class="title-left"> Post</h5>
                      </div>
                      
                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            {{ form|crispy }}
                          </div>
                        </div>
                       
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded"> Post </button>
                        </div>
                      </div>
                    </form>
      
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      {% endblock content %}
      































