<!--/ Intro Skew Star /-->
{% extends "base.html" %}
{% block content %}
<section class="about" id="about">

  <h1 class="heading"> <span> Post </span> Details</h1>

  <div class="row">

      <div class="image">
          <img src="{{ post.photo.url }}" alt="">
      </div>

      <div class="content">
          <h3>{{ object.title }}</h3>
          <p> {{ object.content }}</p>
        
          <a class="btn" href="{% url 'post-update' object.id %}">Update</a>
          <a class="btn" href="{% url 'post-delete' object.id %}">Delete</a>
      </div>

  </div>

</section>
{% endblock content %}