{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<section class="contact" id="contact">

  <h1 class="heading"> <span>contact</span> us </h1>

  <div class="row">

      

      <form method="POST">
        {% csrf_token %}
          <h3>POST DELETE</h3>
          <div>
            <h1 class="heading">  Are you sure you want to delete the post "{{ object.title }}" </h1>
          </div>
          
          <input type="submit" value=" Yes, Delete " class="btn">
          <input href="{% url 'post-detail' object.id %}" value=" Cancel " class="btn">
          
          
      </form>
  </div>

</section>

{% endblock content %}