<!--/ Intro Skew Star /-->
{% extends "base.html" %}
{% block content %}
<div class="intro intro-single route bg-image">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="intro-title mb-4">Blog Details</h2>
        <ol class="breadcrumb d-flex justify-content-center">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Library</a>
          </li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--/ Intro Skew End /-->

<!--/ Section Blog-Single Star /-->
<section class="blog-wrapper sect-pt4" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="post-box">
          <div class="post-thumb">
            <img src="{{ post.photo.url }}" class="img-fluid" alt="">
          </div>
          <div class="post-meta">
            <h1 class="article-title">{{ object.title }}</h1>
            <ul>
              <li>
                <span class="ion-ios-person"></span>
                <a href="#">{{ object.author }}</a>
              </li>
             
              <li>
                <span class="ion-chatbox"></span>
                <a href="#">14</a>
              </li>
            </ul>
          </div>
          <div class="article-content">
            <p>
              {{ object.content }}
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="widget-sidebar widget-tags">
          <h5 class="sidebar-title">Handle Post</h5>
          <div class="sidebar-content">
            <ul>
              <li class="btn btn-secondary">
                <a href="{% url 'post-update' object.id %}">Update</a>
              </li>
              <li class="btn btn-danger">
                <a href="{% url 'post-delete' object.id %}">Delete</a>
              </li>
             
            </ul>
          </div>
        </div>
        <div class="widget-sidebar">
          <h5 class="sidebar-title">Recent Post</h5>
          <div class="sidebar-content">
            <ul class="list-sidebar">
              <li>
                <a href="{% url 'user-posts' post.author.username %}">Check Recent User Posts</a>
              </li>
             
            </ul>
          </div>
        </div>


        <div class="widget-sidebar widget-tags">
          <h5 class="sidebar-title">Tags</h5>
          <div class="sidebar-content">
            <ul>
        
              <li>
                <a href="#">Design.</a>
              </li>
              <li>
                <a href="#">Travel.</a>
              </li>
              <li>
                <a href="#">Photoshop</a>
              </li>
  
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}