{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
{% load static %}
<section class="contact" id="contact">

  <h1 class="heading"> <span>{{user.username}}</span>'s Profile! </h1>

  <div class="row">

    <section class="review" id="review">

      <h1 class="heading">  Profile </h1>
  
      <div class="box-container">
  
          <div class="box">
              <img src="{% static 'images/quote-img.png' %}" alt="" class="quote">
              <p>
                <span class="title-s">Name: </span>
                <span>{{ user.username }}</span>
              </p>
              <p>
                <span class="title-s">Email: </span>
                <span>{{ user.email }}</span>
              </p>
              <img src="{{ user.profile.image.url }}" class="user" alt="">
              <h3>{{ user.username }}</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
          </div>
     
    </div>

  </section>


      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <h3> View / Update </h3>
          <div class="inputBox">
              <span class="fas fa-user"> username </span>
              {{ u_form.username }}
                     
          </div>
          <div class="inputBox">
            <span class="fas fa-envelope"> Email </span>
            {{ u_form.email }}
                    
        </div>
        <div class="inputBox">
          <span class="fas fa-image"> Photo </span>
        
                  {{ p_form.image }}
      </div>
         
          <input type="submit" value=" Update " class="btn">
      </form>

  </div>

</section>


{% endblock content %}
