{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="intro intro-single route bg-image">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="intro-title mb-4">{{user.username}}'s Profile!</h2>
      </div>
    </div>
  </div>
</div>



<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img
                      src="{{ user.profile.image.url }}"
                      class="img-fluid rounded b-shadow-a"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p></p>
                    <p>&ensp;</p>

                    <p>
                      <span class="title-s">Name: </span>
                      <span>{{ user.username }}</span>
                    </p>

                    <p>
                      <span class="title-s">Email: </span>
                      <span>{{ user.email }}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">Skill</p>
                <span>HTML</span> <span class="pull-right">85%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 85%"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>CSS3</span> <span class="pull-right">75%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>PHP</span> <span class="pull-right">50%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 50%"
                    aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 90%"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">Profile Info</h5>
                </div>
                
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      {{ u_form|crispy }}
                      {{ p_form|crispy }}
              
                    </div>
                  </div>
                 
                  <div class="col-md-12">
                    <button type="submit" class="button button-a button-big button-rouded">Update</button>
                  </div>
                </div>
              </form>

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
