{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="contact" id="contact">

  <h1 class="heading"> <span>Register</span> </h1>

  <div class="row">

      

      <form method="POST">
        {% csrf_token %}
          <h3> Join Today</h3>
          <div id="sendmessage">Your message has been sent. Thank you!</div>
           <div id="errormessage"></div>
          <div class="inputBox">
              <span class="fas fa-user"> Username </span>
              {{ form.username }}
          </div>

          <div class="inputBox">
            <span class="fas fa-envelope"> Email </span>
            {{ form.email }}
        </div>
        <div class="inputBox">
          <span class="fas fa-lock"> password </span>
          {{ form.password1 }}
      </div>
      <div class="inputBox">
        <span class="fas fa-lock"> re_Enter </span>
        {{ form.password2 }}
    </div>
       
          
          <input type="submit" value="  Sign Up " class="btn">
          
      </form>
  </div>

</section>
{% endblock content %}